.page-header-image {
    background-color: #eee;
}

.filterheight {
    height: 100;
}

.postBlogHome {
    padding-bottom: 50px;
    background: url("") no-repeat fixed center center;
    background-size: 100% auto;
    height: 100vh;
}

.postBlogHome h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}

.postBlogHome h2 b {
    color: #e95e38;
}

.postBlogHome .postPublicationHome {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 400px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.postBlogHome .postPublicationHome:hover h3 {
    color: #e95e38;
    /*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}

.postBlogHome .postPublicationHome:hover .readMoreBlogHome {
    height: 400px;
    width: 100%;
    color: #aaa;
    background-color: #e95e38;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.postBlogHome .black {
    background: #e95e38;
}

.postBlogHome .postPublicationHome .imgPostPrincipalHome {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.postBlogHome .postPublicationHome .imgPostPrincipalHome img {
    height: 100%;
    width: auto;
}

.postBlogHome .postPublicationHome .contentPublicacionPrincipalHome {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 0 10px;
}

.postBlogHome .postPublicationHome .contentPublicacionPrincipalHome h3 {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.postBlogHome .postPublicationHome .contentPublicacionPrincipalHome p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.postBlogHome .postPublicationHome .postPublication {
    padding: 0 10px;
}

.postBlogHome .postPublicationHome .postPublication h3 {
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
}

.postBlogHome .postPublicationHome .imgPostPublication {
    overflow: hidden;
    max-height: 180px;
}

.readMoreBlogHome {
    height: 400px;
    width: 0%;
    color: #aaa;
    background-color: #e95e38;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}

.readMoreBlogHome span {
    text-align: center;
    max-height: 400px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

.postBlogHome .todas-las-publicaciones-home {
    background: #e95e38;
    height: 400px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}

.postBlogHome .todas-las-publicaciones-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 26px;
}

@media (max-width: 767px) {
    [aria-expanded="false"] {
        color: #3a3737;
    }
}

@media (max-width: 768px) {
    .postBlogHome h2 {
        text-align: center;
        font-weight: 300;
        margin-bottom: 30px;
        font-size: 34px;
        margin-top: 70px;
    }
    .postBlogHome .postPublicationHome {
        background: #ffffff;
        border-radius: 3px;
        overflow: hidden;
        height: inherit;
        margin-bottom: 20px;
        display: block;
        color: inherit;
        text-decoration: none;
        position: relative;
    }
    .postBlogHome .postPublicationHome .imgPostPrincipalHome {
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: auto;
    }
    .postBlogHome .postPublicationHome .imgPostPrincipalHome img {
        height: auto;
        width: 100%;
    }
    .postBlogHome .black {
        background: #fff;
    }
    .postBlogHome .postPublicationHome .contentPublicacionPrincipalHome {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0 10px;
    }
    .postBlogHome .postPublicationHome .contentPublicacionPrincipalHome h3 {
        font-weight: 900;
        color: #333;
        text-transform: uppercase;
        font-size: 20px;
    }
    .postBlogHome .postPublicationHome .contentPublicacionPrincipalHome p {
        color: #333;
        font-size: 14px;
        font-weight: 400;
    }
    .postBlogHome .todas-las-publicaciones-home {
        background: #e95e38;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
        border-radius: 3px;
    }
}

@media (min-width: 768px) {
    .navbarPost {
        background: transparent;
    }
    .active {
        background: #f96432a2;
    }
    .navbarPost a {
        color: #fff;
    }
    .navbarPost .formRegister {
        color: #fff !important;
    }
    .formRegister .active {
        color: #f9643298 !important;
    }
    .positionMenu {
        position: relative;
    }
    .menu {
        position: absolute;
        left: 100px;
        display: inherit;
    }
}