/* General - Font */

@font-face {
    font-family: 'Nucleo Outline';
    src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
    src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
    src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
    font-weight: normal;
    font-style: normal;
}

.now-ui-icons {
    display: inline-block;
    font: normal normal normal 14px/1 'Nucleo Outline';
    font-size: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* General - Title */

.titleSite {
    font-size: 2rem;
}

.titleSite::before {
    content: "< ";
    color: white;
}

.titleSite::after {
    content: "/> ";
    color: white;
}

.SubtitleSite {
    font-size: 1.5rem;
}

.btn-primary {
    background-color: #f96332;
    border-color: #fa7a50;
    color: #FFFFFF;
}


/* General - Button */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:active:hover {
    background-color: #fa7a50;
    border: 1px solid #fa7a50;
    color: #FFFFFF;
    box-shadow: none;
}

.btn-primary:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled:active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active {
    background-color: #f96332;
    border-color: #f96332;
}

.btn-round {
    border-width: 1px;
    border-radius: 30px !important;
    padding: 11px 23px;
}

.btn-lg {
    font-size: 1em;
    border-radius: 0.25rem;
    padding: 15px 48px;
}


/* modal */

.modal-backdrop.show {
    opacity: .5;
    z-index: 0;
}


/* modal contact */

.required {
    color: red;
    font-weight: bold;
    text-align: left;
    padding: 10px 0 0 10px;
    display: contents;
}

.modal-body>.form-horizontal {
    padding: 20px;
}

.control-label>[type="email"] {
    margin: auto;
}


/* Formulaire  */

.form-control::-moz-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.form-control:-moz-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.form-control::-webkit-input-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.form-control:-ms-input-placeholder {
    color: #888888;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    color: #2c2c2c;
    line-height: normal;
    font-size: 0.8571em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border: 1px solid #f96332;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #2c2c2c;
}

.form-control:focus+.input-group-text,
.form-control:focus~.input-group-text {
    border: 1px solid #f96332;
    border-left: none;
    background-color: transparent;
}

.input-group.no-border.input-lg .input-group-text {
    padding: 15px 0 15px 19px;
}

.input-group.no-border.input-lg .form-control {
    padding: 15px 19px;
}

.input-group.no-border.input-lg .form-control+.input-group-text {
    padding: 15px 19px 15px 0;
}

.input-group.input-lg .form-control {
    padding: 14px 18px;
}

.input-group.input-lg .form-control+.input-group-text {
    padding: 14px 18px 14px 0;
}

.input-group.input-lg .input-group-text {
    padding: 14px 0 15px 18px;
}

.input-group.input-lg .input-group-text+.form-control {
    padding: 15px 18px 15px 16px;
}

.input-group.no-border .form-control {
    padding: 11px 19px;
}

.input-group.no-border .form-control+.input-group-text {
    padding: 11px 19px 11px 0;
}

.input-group.no-border .input-group-text {
    padding: 11px 0 11px 19px;
}

.input-group .form-control {
    padding: 10px 18px 10px 18px;
}

.input-group .form-control+.input-group-text {
    padding: 10px 18px 10px 0;
}

.input-group .input-group-text {
    padding: 10px 0 10px 18px;
}

.input-group .input-group-text+.form-control,
.input-group .input-group-text~.form-control {
    padding: 10px 19px 11px 16px;
}

.input-group.no-border .form-control,
.input-group.no-border .form-control+.input-group-text {
    background-color: rgba(222, 222, 222, 0.3);
    border: medium none;
}

.input-group.no-border .form-control:focus,
.input-group.no-border .form-control:active,
.input-group.no-border .form-control:active,
.input-group.no-border .form-control+.input-group-text:focus,
.input-group.no-border .form-control+.input-group-text:active,
.input-group.no-border .form-control+.input-group-text:active {
    border: medium none;
    background-color: rgba(222, 222, 222, 0.5);
}

.input-group.no-border .form-control:focus+.input-group-text {
    background-color: rgba(222, 222, 222, 0.5);
}

.input-group.no-border .input-group-prepend .input-group-text {
    background-color: rgba(222, 222, 222, 0.3);
    border: none;
    border-left: transparent !important;
}

.input-group-text {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #555555;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.input-group-text+.form-control,
.input-group-text~.form-control {
    padding: -0.5rem 0.7rem;
    padding-left: 18px;
}

.input-group-text i {
    width: 17px;
}

.input-group {
    margin-bottom: 10px;
    position: relative;
}

.input-group[disabled] .input-group-text {
    background-color: #E3E3E3;
}

.input-group .input-group-prepend {
    margin-right: 0;
}

.input-group .input-group-prepend .input-group-text {
    border-left: 1px solid #E3E3E3;
}

.input-group .form-control:first-child,
.input-group-text:first-child {
    border-right: 0 none;
}

.input-group .form-control:last-child,
.input-group-text:last-child {
    border-left: 0 none;
}

.form-control[disabled],
.form-control[readonly] {
    background-color: #E3E3E3;
    color: #888888;
    cursor: not-allowed;
}


/* General - Autres selecteurs */

button,
input {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

h6 {
    font-weight: 400;
}

a {
    color: #f96332;
}

a:hover,
a:focus {
    color: #f96332;
}

h6,
.h6 {
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    line-height: 1.61em;
    font-weight: 300;
    font-size: 1.2em;
}

.title {
    font-weight: 700;
    padding-top: 30px;
}

body {
    font-size: 15px;
    font-weight: 400;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #000;
}

.card a {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}

.homeBtn {
    width: 250px;
    margin: auto;
}

.fa-twitter,
.fa-linkedin {
    font-size: 20px;
}

.button-bar:nth-child(2) {
    width: 17px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.img-fluid {
    width: 200px !important;
}

.bg-primary {
    background-color: #f96332 !important;
}

img {
    max-width: 100%;
    border-radius: 1px;
}

.footer {
    padding: 24px 0;
}

.footer nav {
    display: inline-block;
    float: left;
}

.footer ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.footer ul li {
    display: inline-block;
}

.footer ul li a {
    color: inherit;
    padding: 0.5rem;
    font-size: 0.8571em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: none;
}

.footer .copyright {
    font-size: 0.8571em;
}

.footer:after {
    display: table;
    clear: both;
    content: " ";
}

.card {
    border: 0;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.card .card-header {
    background-color: transparent;
    border-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.card .card-header .clear-filter {
    width: 210px;
    height: 210px;
    margin: auto;
    border-radius: 200px;
}

.card .card-header .clear-filter .img-fluid {
    border: 1px solid #f14f22d2;
    border-radius: 50%;
}

.card .card-footer {
    padding: 0;
    margin-top: 15px;
    background-color: transparent;
    border: 0;
}

.card[data-background-color="orange"] {
    background-color: #f96332;
}

.card[data-background-color="red"] {
    background-color: #FF3636;
}

.card[data-background-color="yellow"] {
    background-color: #FFB236;
}

.card[data-background-color="blue"] {
    background-color: #2CA8FF;
}

.card[data-background-color="green"] {
    background-color: #15b60d;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-body,
.card-plain .card-header {
    padding-left: 5px;
    padding-right: 5px;
}

.card-plain .card-header:after {
    width: 100%;
    left: 0;
}

.login-page .page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.login-page .card-login {
    border-radius: 0.25rem;
    padding-bottom: 0.7rem;
    max-width: 320px;
}

.login-page .card-login .logo-container {
    width: 65px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.login-page .card-login .logo-container img {
    width: 100%;
}

.login-page .card-login .input-group:last-child {
    margin-bottom: 40px;
}

.login-page .card-login.card-plain .form-control::-moz-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control:-moz-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control::-webkit-input-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control:-ms-input-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

.login-page .card-login.card-plain .form-control {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
}

.login-page .card-login.card-plain .form-control:focus {
    border-color: #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group-text {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group.no-border .form-control:focus,
.login-page .card-login.card-plain .input-group.no-border .form-control:active,
.login-page .card-login.card-plain .input-group.no-border .form-control:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
}

.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text:focus,
.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text:active,
.login-page .card-login.card-plain .input-group.no-border .form-control+.input-group-text:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group.no-border .form-control:focus+.input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group.no-border .input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
}

.login-page .card-login.card-plain .input-group-text,
.login-page .card-login.card-plain .input-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
}

.login-page .link {
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.page-header>.content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
}

.page-header:before {
    background-color: rgba(0, 0, 0, 0.3);
}

.page-header>.container {
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
}

.page-header .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-header footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-header .container {
    height: 100%;
    text-align: center;
    position: relative;
}

.page-header:after,
.page-header:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.clear-filter:after,
.clear-filter:before {
    display: none;
}

.clear-filter[filter-color="orange"] {
    background: rgba(255, 255, 255, 0.698);
    background: -webkit-linear-gradient(1deg, rgba(255, 255, 255, 0.582), rgba(233, 138, 14, 0.52));
    background: -o-linear-gradient(1deg, rgba(255, 255, 255, 0.582), rgba(233, 138, 14, 0.52));
    background: -moz-linear-gradient(1deg, rgba(255, 255, 255, 0.582), rgba(233, 138, 14, 0.52));
    background: linear-gradient(1deg, rgba(255, 255, 255, 0.582), rgba(233, 138, 14, 0.52));
    border: 1px solid #fff;
}

[data-background-color="orange"] {
    background-color: #e95e38;
}

[data-background-color="black"] {
    background-color: #2c2c2c;
}

[data-background-color]:not([data-background-color="gray"]) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .title,
[data-background-color]:not([data-background-color="gray"]) p {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) h6,
[data-background-color]:not([data-background-color="gray"]) a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group-text,
[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .input-group-text {
    color: rgba(255, 255, 255, 0.8);
}

[data-background-color]:not([data-background-color="gray"]) .form-control::-moz-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

[data-background-color]:not([data-background-color="gray"]) .form-control:-moz-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

[data-background-color]:not([data-background-color="gray"]) .form-control::-webkit-input-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

[data-background-color]:not([data-background-color="gray"]) .form-control:-ms-input-placeholder {
    color: #ebebeb;
    opacity: 1;
    filter: alpha(opacity=100);
}

[data-background-color]:not([data-background-color="gray"]) .form-control {
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .form-control:focus {
    border-color: #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group-text {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:focus,
[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:active,
[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control+.input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control+.input-group-text:focus,
[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control+.input-group-text:active,
[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control+.input-group-text:active {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .form-control:focus+.input-group-text {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFFFFF;
}

[data-background-color]:not([data-background-color="gray"]) .input-group.no-border .input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    color: #FFFFFF;
}

.modal-body:not(.two-col) {
    padding: 0px
}

.glyphicon {
    margin-right: 5px;
}

.glyphicon-new-window {
    margin-left: 5px;
}

.modal-body .radio,
.modal-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.modal-body .radio label,
.modal-body .checkbox label {
    display: block;
}

.modal-footer {
    margin-top: 0px;
}

.error {
    background-color: #ff7100a1;
    color: white;
    position: fixed;
    top: 190px;
    left: 0;
}

@media screen and (min-width: 992px) {
    .btnHome {
        width: 350px;
    }
}

@media screen and (max-width: 325px) {
    .btn-close {
        margin-top: 5px;
        width: 100%;
    }
    .btn-results {
        margin-top: 5px;
        width: 100%;
    }
    .btn-vote {
        margin-top: 5px;
        width: 100%;
    }
    .modal-footer .btn+.btn {
        margin-left: 0px;
    }
    .progress {
        margin-right: 10px;
    }
}

@media (max-width: 767px) {
    .btnHome {
        width: 300px;
    }
    .btn {
        margin-bottom: 10px;
    }
    .card-footer,
    .copyright {
        display: flex;
        flex-wrap: wrap;
    }
    /* nav */
    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #555;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .navbar {
        transition: all 0.4s;
        background: #f9633285;
        color: #fff;
    }
    .navbar .nav-link {
        color: #fff;
    }
    .navbar .nav-link:hover,
    .navbar .nav-link:focus {
        color: #fff;
        text-decoration: none;
    }
    .navbar .navbar-brand {
        color: #fff;
    }
    [aria-expanded="false"] {
        border: none;
        color: #555;
    }
    /* Change navbar styling on scroll */
    .active {
        background: #fff !important;
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    }
    .active a {
        color: #555 !important;
    }
    .active a {
        color: #555 !important;
    }
    .active .nav-link:hover,
    .active .nav-link:focus {
        color: #555;
        text-decoration: none;
    }
    .active .navbar-brand {
        color: #555;
    }
    [aria-expanded="true"] {
        color: #000;
    }
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar {
        transition: all 0.4s;
        background: transparent;
    }
    .navbar a {
        color: #fff;
    }
    .formRegister {
        color: #f96332 !important;
    }
    .positionMenu {
        position: relative;
    }
    .menu {
        position: absolute;
        left: 100px;
        display: inherit;
    }
}