{% extends "frontoffice/layout.html.twig" %}

{% block title %}Error: Server
{% endblock %}

{% block content %}
	<section id="errorBox">
		<div class="container">
			<div class="raw">
				<div class="p-2 error">
					<h2 class="d-flex align-items-end"> Un problème lié au server ? </h2>
				</div>
			</div>
		</div>
	</section> 
{% endblock %}