{% extends "backoffice/layout.html.twig" %}

{% block title %}Commentaires
{% endblock %}

{% block content %}
	<div class="container">
		<div  class="mainbox mx-auto col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 mt-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-center">Commentaires</div>
				</div>
				<div class="panel-body mt-5">
					
				</div>
			</div>
		</div>
	</div>
{% endblock %}
