{% extends "backoffice/layout.html.twig" %}

{% block title %}Commentaires
{% endblock %}

{% block content %}
	<div class="container">
		<div class="mainbox mx-auto col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 mt-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-center">Commentaires</div>
				</div>
				<div class="panel-body mt-5">
					<table class="table table-bordered table-hover table-responsive-sm">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Commentaires</th>
								<th scope="col">Accepter</th>
								<th scope="col">Refuser</th>
							</tr>
						</thead>
						<tbody>
						{# {% for %} #}
							<tr>
								<th scope="row">{{comment.content}}</th>
								<td><a href="#" >Valider</a></td>
								<td><a href="#" >Supprimer</a></td>
							</tr>
						{# {% endfor %} #}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
