{% extends "backoffice/layout.html.twig" %}

{% block title %}Dashboard
{% endblock %}

{% block content %}
	<div class="container">
		<div  class="mainbox mx-auto col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 mt-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-center">Dashboard</div>
				</div>
                <div class="container">
					<div class="row">
						<div class="d-flex">
							<h2>Nombre de commentaires</h2>
							<p>{{}}</p>
							<a href="/?page=allComments">Gerer les commentaires</a>
							<h2>Nombre d'articles</h2>
							<p>{{}}</p>
							<a href="/?page=allPosts&perpage=1">Gerer les articles</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}