<nav class="navbar navbar-expand-sm   navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="/?page=home">DevDark
				</a>
			</li>
		</ul>

		<div class="adminNav mr-5">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0 mr-4">
				<li class="nav-item">
					<a class="nav-link" href="/?page=home">Accueil
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item dropdown dmenu">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						{{ session.user }}
					</a>
					<div class="dropdown-menu sm-menu">
						<a class="dropdown-item" href="/?page=dashboard">Gestion de compte</a>
						<a class="dropdown-item" href="/?page=home&action=logout">Se déconnecter</a>
					</div>
				</li>
				{% if session.userAdmin == 1 %}
					<li class="nav-item">
						<a class="nav-link" href="/?page=allCommentaire">Commentaires
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item dropdown dmenu">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
							Articles
						</a>
						<div class="dropdown-menu sm-menu">
							<a class="dropdown-item" href="/?page=addPost">Ajouter</a>
							<a class="dropdown-item" href="/?page=modifPost">Modifier</a>
							<a class="dropdown-item" href="/?page=allPost">Tous les articles</a>
						</div>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
