{% extends "backoffice/layout.html.twig" %}

{% block title %}Modifier le mot de passe
{% endblock %}

{% block content %}
	<div class="container">
		<div  class="mainbox mx-auto col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 mt-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title text-center">
					Modifier le mot de passe
					</h2>
				</div>
				<div class="panel-body mt-5">
					{% if data.verif.success %}
						{% for validation in data.verif.success %}
							<div class="alert alert-primary" role="alert"> {{validation}}
						</div>
						{% endfor %}
					{% endif %}
					{% if data.verif.error %}
						{% for errors in data.verif.error %}
							<div class="alert alert-danger" role="alert">
								{{errors}}
							</div>
						{% endfor %}
					{% endif %}
					<a href="/?page=managementAccount"><button class="btn btn-primary mx-auto">retour</button></a>
					<hr>
					<form method="POST" action="/?page=passwordUpdate">
						<label for="lastpassword">Ancien mot de passe</label>
						<input id="lastpassword" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre ancien mot de passe" type="password" name="lastPassword"><br>
						<label for="password">Nouveau mot de passe</label>
						<input id="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre nouveau mot de passe" type="password" name="password"><br>
						<label for="passwordConfirmation">Confimer le nouveau mot de passe </label>
						<input id="passwordConfirmation" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Confirmer le mot de passe de confirmation" type="password" name="passwordConfirmation"><br>
						<input type="hidden" name="token" id="token" value="{{session.token}}"/>
						<button class="btn btn-primary mx-auto" type="submit">Modifier le mot de passe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
