{% extends "frontoffice/layout.html.twig" %}

{% block title %}<h1 class='center'>Error: Post 404 </h1>{% endblock %}

{% block content %}
    <p>Le post demandé n'est pas disponible</p>
{% endblock %}

