{% extends "frontoffice/layout.html.twig" %}

{% block title %}Error: 404{% endblock %}

{% block content %}
    <div class="p-2" style="background-color:red; color:white;">
    <h2 class="d-flex align-items-end">La page demandé n'existe pas ..</h2>
    </div>
{% endblock %}

