<footer class="footer">
	<div class="container">
		<div class="raw">
			<div class=" copyright d-flex justify-content-between">
				<div>Copyright 2020 | © | by
					<a href="https://marcalban.fr" target="_blank">Fatellim</a>
				</div>
				<div>
					<a href="#" target="_blank">Administration</a>
				</div>
			</div>
		</div>
	</div>
</footer>
