<footer class="footer">
	<div class="container">
		<div class="raw">
			<div class=" copyright d-flex justify-content-between flex-wrap">
				<div class="d-flex justify-content-center flex-wrap w-100">
					<p>Copyright 2020 | © | by
					<a href="https://marcalban.fr" target="_blank">Fatellim</a></p>
				</div>
					<div class="d-flex justify-content-center flex-wrap w-100">
						<a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/MarcAlbanMillet" target="_blank">
							<i class="fab fa-twitter"></i>
							<p class="d-md-none d-lg-none d-xl-none">Twitter</p>
						</a>
						<a class="nav-link" rel="tooltip" title="Follow us on Linkedin" data-placement="bottom" href="https://www.linkedin.com/in/marc-alban-millet-b2071a12a/" target="_blank">
							<i class="fab fa-linkedin"></i>
							<p class="d-md-none d-lg-none d-xl-none">Linkedin</p>
						</a>
						<a class="nav-link" rel="tooltip" title="Follow us on Github" data-placement="bottom" href="https://github.com/Marc-Alban" target="_blank">
							<i class="fab fa-github"></i>
							<p class="d-md-none d-lg-none d-xl-none">Github</p>
						</a>
					</div>
					<div class="d-flex justify-content-center flex-wrap w-100">
					{% if session.admin %}
						<a href="/?page=dashboard">Administration</a>
					{% elseif session.user %}
						<a href="/?page=managementAccount">Administration</a>
					{% else %}
						<a href="/?page=login">Administration</a>
					{% endif %}
					</div>
			</div>
			</div>
	</div>
</footer>
