{% extends "/frontoffice/layoutHome.html.twig" %}
{% block title %}Home
{% endblock %}
{% block content %}
	<div class="container">
		<div class="col-md-12 ml-auto mr-auto">
			<div class="card card-plain">
				<div class="card-header text-center">
					<div class="logo-container clear-filter" filter-color="orange">
						<img src="images/profile/yoda.png" class="img-fluid " alt="Responsive image">
					</div>
				</div>
				<div class="card-body">
					<h1 class="titleSite">Marc-Alban MILLET</h1>
					<h2 class="SubtitleSite">Le développeur fou, tu recruteras !</h2>
				</div>
				<div class="card-footer d-flex justify-content-around">
					<button href="#" class="btn btn-primary btnHome ">Télécharger CV</button>
					{# modal #}
					<button href="#" class="btn btn-primary btnHome" data-toggle="modal" data-target="#contact" data-original-title>
						Contacter l'administrateur
					</button>
				</div>

				<div class="modal" id="contact" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h4 class="panel-title" id="contactLabel">
									<span class="glyphicon glyphicon-info-sign"></span>
									Une question ? Contactez-moi :</h4>
							</div>
							<form action="#" method="post" accept-charset="utf-8">
								<div class="modal-body" style="padding: 5px;">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
											<input class="form-control" name="firstname" placeholder="Votre nom" type="text" required autofocus/>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
											<input class="form-control" name="lastname" placeholder="Votre prénom" type="text" required/>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
											<input class="form-control" name="email" placeholder="E-mail" type="text" required/>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
											<input class="form-control" name="subject" placeholder="Sujet" type="text" required/>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12">
											<textarea style="resize:vertical;" class="form-control" placeholder="Message..." rows="6" name="comment" required></textarea>
										</div>
									</div>
								</div>
								<div class="panel-footer" style="margin-bottom:-14px;">
									<input type="submit" class="btn btn-success" value="Envoyer"/>
									<button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Fermer</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				{# End modal #}
			</div>
		</div>
	</div>
{% endblock %}

