{% extends "/frontoffice/layout.html.twig" %}
{% block title %}Home
{% endblock %}
{% block content %}
	<div class="container">
		<div class="col-md-12 ml-auto mr-auto">
			<div class="card card-plain">
				<div class="card-header text-center">
					<div class="logo-container clear-filter" filter-color="orange">
						<img src="images/profile/DarkVador.png" class="img-fluid " alt="Responsive image">
					</div>
				</div>
				<div class="card-body">
					<h1 class="titleSite">Marc-Alban MILLET</h1>
					<h2 class="SubtitleSite">Le développeur fou, tu recruteras !</h2>
				</div>
				<div class="card-footer d-flex justify-content-around">
					<a href="./images/cv/CV-Dark-Vador.pdf" download="CV-Dark-Vador.pdf" class="btn btn-primary btnHome">Télécharger CV</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="raw">
		{#--------------------------CONDITION-DATA----------------------------#}
{% if data.mail %}
{#--------------------------SUCCES-MESSAGE----------------------------#}
{% for success in data.mail.succes %}
<div class="alert alert-primary" role="alert">
    {{success}}
</div>
{% endfor %}
{#-------------------------END-CONDITION-DATA----------------------------#}
{#-------------------------END-SUCCES-MESSAGE----------------------------#}
{% endif %}
{#--------------------------CONDITION-DATA----------------------------#}
{% if data.mail %}
{#--------------------------ERROR-MESSAGE----------------------------#}
{% for errors in data.mail.error %}
<div class="alert alert-danger" role="alert">
    {{errors}}
</div>
{% endfor %}
{#--------------------------ERROR-MESSAGE----------------------------#}
{% endif %}
{#--------------------------END-CONDITION-DATA----------------------------#}
			<form method="post" action="/?page=Home&action=sendMessage">
				<label>Nom</label>
				<input type="text" name="name" ><br> 
				<label>Prénom</label>
				<input type="text" name="lastName" ><br> 
				<label>Email</label>
				<input type="email" name="mail" ><br> 
				<label>Message</label>
				<textarea name="message" ></textarea><br> 
				<input type="hidden"
                    name="token" id="token" value="{{session.token}}" >
				<input type="submit" name="submit">
			</form>
		</div>
	</div>
{% endblock %}
