{% extends "frontoffice/layout.html.twig" %}

{% block title %}Inscription
{% endblock %}
{% block content %}
	<div class="container">
		<div id="registerbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-center">Inscription</div>
				</div>
				<div
					class="panel-body">
					{#--------------------------CONDITION-DATA----------------------------#}
					{% if data.register %}
						{#--------------------------SUCCES-MESSAGE----------------------------#}
						{% for success in data.register.succes %}
							<div class="alert alert-primary" role="alert"> {{success}}
						</div>
					{% endfor %}
						{#-------------------------END-CONDITION-DATA----------------------------#}
						{#-------------------------END-SUCCES-MESSAGE----------------------------#}
					{% endif %}
					{#--------------------------CONDITION-DATA----------------------------#}
					{% if data.register %}
						{#--------------------------ERROR-MESSAGE----------------------------#}
						{% for errors in data.register.error %}
							<div class="alert alert-danger" role="alert">
								{{errors}}
							</div>
						{% endfor %}
						{#--------------------------ERROR-MESSAGE----------------------------#}
					{% endif %}
					{#--------------------------END-CONDITION-DATA----------------------------#}
					<form method="POST" action="/inscription/signin">
						<input id="userName" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre Pseudo" type="text" name="userName"><br>
						<input id="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre e-mail" type="text" name="email"><br>
						<input id="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre mot de passe" type="password" name="password"><br>
						<input id="passwordConfirmation" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre mot de passe de confirmation" type="password" name="passwordConfirmation"><br>
						<input type="hidden" name="token" id="token" value="{{session.token}}"/>
						<button class="btn btn-primary mx-auto" type="submit">S'inscrire</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

