{% extends "frontoffice/layout.html.twig" %}

{% block title %}Inscription
{% endblock %}

{% block content %}
	<div class="container">
		<div class="raw mt-10 p-2">
			<div class="error"></div>
			<div class="succes"></div>
			<form method="POST" action="/?page=inscription&action=inscription" enctype="multipart/form-data">
			<div class="md-form ">
				<label for="userName">Pseudo:</label>
				<input id="userName" class="form-control" type="text" name="userName">
			</div>
			<div class="md-form ">
				<label for="email">E-mail:</label>
				<input id="email" class="form-control" type="text" name="email">
			</div>
			<div class="md-form ">
				<label for="password">Mot de passe:</label>
				<input id="password" class="form-control" type="password" name="password">
			</div>
			<div class="md-form ">
				<label for="passwordConfirmation">Mot de passe de confirmation:</label>
				<input id="passwordConfirmation" class="form-control" type="password" name="passwordConfirmation">
			</div>
			<div class="md-form ">
				<label for="file">Avatar:</label>
				<input id="file" class="form-control" type="file" name="file">
			</div>
			<div class="md-form">
				<input type="hidden" name="token" id="token" value="{{session.token}}"/>
			</div>
			<input class="btn btn-primary " type="submit" value="S'enregistrer" name="Register">
		</form>

		</div>
		<div class="forgot register-footer">
			<span>Déjà un compte ?</span>
			<a href="/?page=connexion">Cliquer ici</a>
		</div>
	</div>
</div>{% endblock %}
