{% extends "frontoffice/layout.html.twig" %}

{% block title %}Inscription
{% endblock %}


{% block content %}
	<div class="container">
		{% if data.register.succes %}
			{% for succes in data.register %}
				<div class="alert alert-primary" role="alert">
					{{succes}}
				</div>
			{% endfor %}
		{% else %}
			{% for error in data.register.error %}
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
			{% endfor %}
		{% endif %}
		<div id="registerbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title text-center">Inscription</div>
				</div>
				<div class="panel-body">
					<form method="POST" action="/?p=inscription&action=inscription">
						<input id="userName" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre Pseudo" type="text" name="userName"><br>
						<input id="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre e-mail" type="text" name="email"><br>
						<input id="password" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre mot de passe" type="password" name="password"><br>
						<input id="passwordConfirmation" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" placeholder="Entrer votre mot de passe de confirmation" type="password" name="passwordConfirmation"><br>
						<input type="hidden" name="token" id="token" value="{{session.token}}"/>
						<button class="btn btn-primary mx-auto" type="submit">S'inscrire</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

