<!doctype html>
<html lang="fr">
	<head>
		{#----------------------------Meta---------------------------#}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Site blog/ Cv-Personnel">
		<meta name="author" content="Fatellim">
		<title>
		{% block title %}
		{% endblock %}
		</title>
		{# ------------- Style ----------------------- #}
		<!-- Bootstrap -->
		<link
		rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		{#----------------------------Style-personnel-Css---------------------------#}
		<link href="css/style.css" rel="stylesheet">
		<link href="css/form.css" rel="stylesheet">
		<link href="css/blog.css" rel="stylesheet">
	</head>
	<body>
		{% include 'frontoffice/headerPost.html.twig' %}
		{# -------------------------------------------------Main-------------------------------------------- #}
		<div class="filterheight clear-filter" filter-color="orange">
			<div class="content"> {% block content %}{% endblock %}
			</div>
			<footer class=" p-4 mt-auto fixed-bottom d-flex flex-row-reverse ">
				{% include 'frontoffice/footer.html.twig' %}
			</footer>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
			{#---------------------script js-------------------------#}
			<script src="js/form.js"></script>
			<script src="js/script.js"></script>
			{% block js %}{% endblock %}
		</body>
	</html>
