<!doctype html>
<html lang="fr">
	<head>
		{#----------------------------Encodage-UTF-8---------------------------#}
		<meta
		http-equiv="content-type" content="text/html; charset=utf-8"/>
		{#----------------------------Responsive-VIEWPORT-CSS---------------------------#}
		<meta name="viewport" content="width=device-width, initial-scale=1,
						shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge"> {% block head %}{% endblock %}
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
		{#----------------------------Style-Css---------------------------#}
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>
		<!-- Navigation -->
		<nav>
			<li>
				<a href="index.php?action=home">Home</a>
			</li>
			<li>
				<a href="index.php?action=post">Blog</a>
			</li>
		</nav>

		<!-- Page Header -->
		<header>
			<h1>
				{% block title %}{% endblock title %}
			</h1>
		</header>

		<main>
			{% block content %}{% endblock %}
		</main>

		<footer class="footer text-center">
			<h3>Copyright P5 Openclassroom</h3>
		</footer>
		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
			{#---------------------script js-------------------------#}
		<script src="js/script.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>

