<h1>Message envoyé depuis la page Home de localhost:8000</h1>
<p><b>Nom : </b>' . {{$mail}} . '<br>
<b>Prenom : </b>' .  {{$postLastName}} . '<br>
<b>Email : </b>' .   {{$postMail}} . '<br>
<b>Message : </b>' . {{$postMessage}} . '</p>';